extends react

priority -47

snippet rcc "react class component" b
class ${1:ComponentName} extends Component<${2:Props, State = {}}> {
  render() {
    return (
      ${0:<div />}
    )
  }
}

export default $1
endsnippet

snippet rcpc "react class pure component" b
class ${1:ComponentName} extends PureComponent<${2:Props, State = {}}> {
  render() {
    return (
      ${0:<div />}
    )
  }
}

export default $1
endsnippet
