extends react

priority -45

snippet rcc "react class component" b
class ${1:ComponentName} extends Component<${1:Prop, State = {}}> {
  render() {
    return (
      ${0:<div />}
    )
  }
}

export default $1
endsnippet

snippet rcpc "react class pure component" b
class ${1:ComponentName} extends PureComponent<${1:Prop, State = {}}> {
  render() {
    return (
      ${0:<div />}
    )
  }
}

export default $1
endsnippet

snippet pt "propTypes" i
interface ${1:PropTypes} {
  ${0}
}
endsnippet
